<p-toast></p-toast>
<div class="admin-page">
  <p-card
    [header]="editmode ? 'Editar Producto' : 'Añadir Producto'"
    subheader="Puedes aditar o crear tus productos aqui"
  >
    <div class="grid mb-5">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-right">
            <p-button
              styleClass="p-button-primary mr-2"
              [label]="editmode ? 'Actualizar' : 'Crear'"
              icon="pi pi-plus"
              (click)="onSubmit()"
            ></p-button>
            <p-button
              styleClass="p-button-secondary"
              label="Cancelar"
              icon="pi pi-arrow-circle-left"
              (click)="onCancle()"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <form [formGroup]="form">
          <div class="p-fluid p-formgrid grid">
            <div class="p-field col">
              <label for="name">Nombre</label>
              <input formControlName="name" id="name" type="text" pInputText />
              <small *ngIf="productForm.name.invalid && isSubmitted" class="p-error"
                >Name is required</small
              >
            </div>
            <div class="p-field col">
              <label for="brand">Oferta</label>
              <input formControlName="brand" id="brand" type="text" pInputText />
              <small *ngIf="productForm.brand.invalid && isSubmitted" class="p-error"
                >Brand is required</small
              >
            </div>
            <div class="p-field col">
              <label for="price">Precio</label><br />
              <p-inputNumber formControlName="price" mode="decimal" [useGrouping]="false">
              </p-inputNumber>
              <small *ngIf="productForm.price.invalid && isSubmitted" class="p-error"
                >Price is required</small
              >
            </div>
          </div>
          <div class="p-fluid p-formgrid grid">
            <div class="p-field col-4">
              <label for="countInStock">Tiempo de Post (Dias)</label><br />
              <p-inputNumber formControlName="countInStock" mode="decimal" [useGrouping]="false">
              </p-inputNumber>
              <small *ngIf="productForm.countInStock.invalid && isSubmitted" class="p-error"
                >Count in stock is required</small
              >
            </div>
            <div class="p-field col-4">
              <label for="category">Categoria</label><br />
              <p-dropdown
                [options]="categories"
                formControlName="category"
                optionLabel="name"
                optionValue="id"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                placeholder="Seleccione una categoria"
              ></p-dropdown>

              <small *ngIf="productForm.category.invalid && isSubmitted" class="p-error"
                >Category is required</small
              >
            </div>
            <div class="p-field col-4">
              <label for="isFeatured">Habilitado?</label><br />
              <p-inputSwitch formControlName="isFeatured" ></p-inputSwitch>
            </div>
            <div class="p-field col-12">
              <label for="description">Descripcion (Mision y Vision)</label><br />
              <textarea
                pInputTextarea
                formControlName="description"
                [rows]="7"
                [cols]="30"
              ></textarea>
              <small *ngIf="productForm.description.invalid && isSubmitted" class="p-error"
                >Description is required</small
              >
            </div>
            <div class="p-field col-12">
              <label for="richDescription">Detalles del Producto (Objetivos)</label><br />
              <p-editor formControlName="richDescription" [style]="{ height: '320px' }"></p-editor>
            </div>
            <div class="p-field col-12">
              <label for="name">Subir Logotipo</label>
              <input
                type="file"
                class="p-inputtext"
                accept="image/*"
                (change)="onImageUpload($event)"
              />
              <small *ngIf="productForm.image.invalid && isSubmitted" class="p-error"
                >Image is required</small
              >
              <div class="col-2 p-mt-2 p-pl-0">
                <img style="width: 200%" [src]="imageDisplay" alt="" />
              </div>
            </div>
          </div>
          <div class="p-fluid p-formgrid grid">
            <label for="name" class="col-12">Adicionar Productos</label>
            <div class="col-4">
              <label for="namep1">Nombre del producto</label>
              <input formControlName="namep1" id="namep1" type="text" pInputText />
            </div>
            <div class="col-4">
              <label for="iconp1">Icono del producto</label>
              <input formControlName="iconp1" id="iconp1" type="text" pInputText />
            </div>
            <div class="col-12">
              <label for="descriptionp1">Nombre del producto</label>
              <textarea
                pInputTextarea
                formControlName="descriptionp1"
                [rows]="7"
                [cols]="30"
              ></textarea>
            </div>
          </div>
          <div class="p-fluid p-formgrid grid">
            <div class="col-4">
              <label for="namep2">Nombre del producto</label>
              <input formControlName="namep2" id="namep2" type="text" pInputText />
            </div>
            <div class="col-4">
              <label for="iconp2">Icono del producto</label>
              <input formControlName="iconp2" id="iconp2" type="text" pInputText />
            </div>
            <div class="col-12">
              <label for="descriptionp2">Nombre del producto</label>
              <textarea
                pInputTextarea
                formControlName="descriptionp2"
                [rows]="7"
                [cols]="30"
              ></textarea>
            </div>
          </div>
          <div class="p-fluid p-formgrid grid">
            <div class="col-4">
              <label for="namep3">Nombre del producto</label>
              <input formControlName="namep3" id="namep3" type="text" pInputText />
            </div>
            <div class="col-4">
              <label for="iconp3">Icono del producto</label>
              <input formControlName="iconp3" id="iconp3" type="text" pInputText />
            </div>
            <div class="col-12">
              <label for="descriptionp3">Nombre del producto</label>
              <textarea
              pInputTextarea
              formControlName="descriptionp3"
              [rows]="7"
              [cols]="30"
            ></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
